/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global styles */
body {
    background: #f5f5f5;
    color: #333;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    animation: backgroundShift 30s infinite alternate;
}

/* Dynamic background animation */
@keyframes backgroundShift {
    0% {
        background: linear-gradient(45deg, #6dd5ed, #2193b0);
    }
    50% {
        background: linear-gradient(45deg, #c2e9fb, #a1c4fd);
    }
    100% {
        background: linear-gradient(45deg, #fbc2eb, #a6c1ee);
    }
}

/* Header and Navigation bar styles */
header {
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #0056b3;
}

/* Logo styles */
.logo {
    /*height: auto; /* Updated logo size */
    width: auto;
    vertical-align: middle;
    margin-right: 10px;
}

h1 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

/* Container styles */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px;
}

/* Additional styles as needed */
